/* Michael Bergstrom */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
:root{
    --yellow: #f6d64a;
    --teal: #55bcd5;
    --purple: #9b26b0;
    --blue: #499bd2;
    --dark-gray: #222222;
    --light-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;
    --font-size: 16px;
	--molleFont: 'Molle', cursive;
    --montserratFont: 'Montserrat', sans-serif;
    --box-sizing: border-box;
}
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
   
#skip:focus{
    position: static;
    width: auto;
    height: auto;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(#55bcd5,#eaeaea);
}
header p{
    padding: 5px 30px 15px;
}
body{
    color: var(--black);
    font-family: var(--montserratFont);
}
h1, h2, h3{
    font-family: var(--molleFont);
    font-weight: bold;
    line-height: 2;
    text-align: center;
}
h1{
    font-size: 50pt;
}
h2{
    font-size: 45pt;
}
h3{
    font-size: 40pt;
}
h4{
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
}
h4, p, q{
    font-size: 20pt;
}
p, q, nav a, form{
    font-family: var(--monsterratFont);
}
#logo img{
    padding-top: 10vw;
    max-width: 50vw;
}
.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#menu-toggle{
    position: absolute;
    top: 40px;
    right: 0;
    user-select: none;
}
#menu-toggle label{
    background-color: var(--yellow);
    padding: 10px 60px;
    font-weight: bold;
}
#menu-toggle input{
    display: none;
}
nav{
    display: grid;
    top:25px;
    justify-items: center;
    grid-column: 1/ -1;
}
#menu-toggle ul{
    display: none;
    position: relative;
    background-color: var(--teal);
    width: 100vw;
}
#menu-toggle li{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
}
#menu-toggle li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
}
#menu-toggle input:checked ~ ul, #menu-toggle input:checked ~ label{
    display: flex;
    flex-direction: column;
}
#menu-toggle input:checked ~ label{
    color: var(--white);
    background-color: var(--black);
    align-items: center;
}
#img-grid picture{
    width: 100%;
    height: auto;
    object-fit: cover;
} 
#img-grid img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#intro h2{
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 50px 5px 30px 15px;
}
#intro p{
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 5px 30px 15px;
}
#plan{
    background-color: var(--yellow);
    padding-bottom: 20px;
}
#plan div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
}
#plan h3{
    padding: 30px 30px 10px;
}
#plan img{
    width: 100%;
}
#plan div section{
    background-color: var(--teal);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, auto);
    padding: 10px;
    border: 3px solid var(--white);
}
#testimonials section{
    display: grid;
    margin: 15px;
    justify-items: center;
}
q{
    text-align: center;
    font-style: italic;
}
#testimonials p, #testimonials h4{
    margin-top: 10px;
}
#testimonials h3{
    display: grid;
    justify-self: left;
    padding: 30px 30px 15px;
}
#about{
    display: grid;
    background-color: var(--blue);
    justify-content: center;
}
#about div{
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 15px;
}
#about section{
    display: grid;
    grid-column: span 1;
    justify-items: center;
    align-items: center;
}
#about h3{
    display: flex;
    line-height: 1;
    padding: 25px;
}
#about p{
    line-height: .5;
    padding-bottom: 15px;
}
#about img{
    width: 100px;
    height: 100px;
}
#contact{
    display: flex;
    flex-direction: column;
}
#contact input, #contact select{
    color: var(--dark-gray);
    background-color: transparent;
    border: 2px solid var(--purple);
}
#contact h3{
    display: flex;
    padding: 25px;
}
#contact h3 span{
    padding-left: 10px;
    font-style: italic;
    font-family: var(--monsterratFont);
}
form{
    display: grid;
    margin: 0 10vw;
}
form div{
    display: flex;
    flex-direction: column;
}
#contact form input, #contact select{
    height: 5vh;
}
label span.required{
    color: var(--purple);
}
.form-required{
    font-family: var(--monsterratFont);
}
#contact form label{
    text-transform: uppercase;
    font-weight: bold;
}
#contact input[type="radio"]{
    accent-color: var(--purple);
    margin: 0 0 4px 2px;
    width: 40px;
    height: 40px;
}
#contact span.radio-input{
    width: 40px;
    height: 40px;
}
span.radio-label{
    margin-left: 5px;
}
#contact label[for^="pref"]{
    display: flex;
    align-items: center;
}
fieldset {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
#mySubmit{
    color: var(--white);
    background-color: var(--purple);
    text-transform: uppercase;
    margin-top: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    margin-top: 5px;
    padding: 10px;
}

@media screen and (min-width: 680px){
    header{
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: repeat(2, auto);
    }
    #logo img{
        align-items: center;
        max-width: 30vw;
    }
    header h1, header p{
        display: grid;
        grid-column: 2/-1;
        grid-row: 1/2;
    }
    header h1{
        position: relative;
        font-size: 50pt;
        top: 35%;
    }
    header p{
        font-size: 20pt;
        position: relative;
        top: 50%;
        max-width: 80%;
        padding-top: 100px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--white);
        margin-top: 5vh;
        justify-items: center;
    }
    #menu-toggle{
        align-items: center;
        position: static;
    }
    #menu-toggle ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        width: 80vw;
        background-color: transparent;
    }
    #menu-toggle li{
        background-color: var(--light-gray);
        height: 8vh;
        font-weight: bold;
        border: none;
    }
    #menu-toggle .active{
        background-color: var(--yellow);
    }
    #menu-toggle li:hover{
        background-color: var(--yellow);
    }
    #toggle, label[for="toggle"]{
        display: none;
    }
    #intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 8vw;
    }
    #intro p{
        padding: 0 10px 10px 0;
    }
    #intro h2{
        padding: 5vw 0 0;
    }
    #img-grid{
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 50% 50%;
        overflow: hidden;
        padding-bottom: 40px;
        gap: 10px;
    }
    #img-grid picture{
        grid-column: 1/ -1;
    }
    #img-grid img:first-child{
        grid-column: 2;
        grid-row: 1;
    }
    #img-grid img:nth-child(2){
        grid-column: 1;
    }
    #plan div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 10vw;
    }
    #plan h3, #testimonials h3, #about h3{
        margin: 0 10vw;
        padding: 5vh 0 2vh;
        justify-content: center;
    }
    #testimonials div{
        display: grid;
        margin: 0 10vw;
        grid-template-columns: 1fr 1fr;
    }
    #testimonials p{
        margin: 0;
    }
    #about h3{
        justify-self: left;
    }
    #about div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        margin: 0 10vw;
        padding: 0;
    }
    #contact{
        margin: 10vw 10vw;
    }
    #contact h3{
        display: flex;
        margin-left: 5vw;
    }
    #contact form input{
        height: 5vh;
    }
    #contact form input, #contact select{
        height: 5vh;
    }   
    fieldset{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #mySubmit{
        color: var(--white);
        background-color: var(--purple);
        font-size: var(--font-size);
        position: relative;
        top: 30px;
        right: -30vw;
        width: 50%;
        margin-bottom: 20px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-items: center;
        font-size: 9pt;
        gap: 15px;
    }
}

@media screen and (min-width: 1100px){
    header{
        grid-template-columns: 15vw 1fr;
    }
    #logo img{
        padding-top: 7vh;
        max-width: 20vw;
    }
    header h1{
        top: 8vh;
    }
    nav{
        position: absolute;
        margin: 0;
    }
    #menu-toggle li{
        height: 5vh;
    }
    #menu-toggle ul{
        width: 50vw;
    }
    #intro{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-template-rows: repeat(3, auto);
    }
   #intro h2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #intro p{
        font-size: 20pt;
        margin-right: 5px;
        margin-top: 5px;
        line-height: 1.5;
        position: relative;
        top: 10vh;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #intro #img-grid{
        grid-template-columns: 50% 50%;
        grid-column: 2/3;
        width: 100%; 
    }
    #plan h3{
        margin: 0 10vw;
        padding: 5vh 0 0;
    }
    #plan div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        margin: 2vh 10vw 2vh;
    }
    #plan section{
        min-width: 50%;
    }
    #testimonials div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #about{
        padding-bottom: 8vh;
    }
    #about div{
        gap: 40px;
    }
    #contact h3{
        grid-column: 1/ -1;
        margin: 0;
        padding:  10vh 0 0;
    }
    #contact fieldset{
        max-width: 100%;
        min-width: 100%;
    }
    #contact form input, select{
        height: 5vh;
    }
    #contact form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 90%;
        margin: 5px;
    }
    #mySubmit{
        right: -10vw;
    }
    footer{
        grid-template-columns: 1fr 12% 20%;
        justify-items: start;
    }
    footer p{
        margin-left: 10vw;
    }
    footer a:last-child{
        margin-right: 10vw;
    }
}

