/* Michael Bergstrom */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
:root{
    --yellow: #f6d64a;
    --teal: #55bcd5;
    --purple: #9b26b0;
    --blue: #499bd2;
    --dark-gray: #222222;
    --light-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;
    --font-size: 16px;
	--molleFont: 'Molle', cursive;
    --montserratFont: 'Montserrat', sans-serif;
    --box-sizing: border-box;
}
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
   
#skip:focus{
    position: static;
    width: auto;
    height: auto;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(#55bcd5,#eaeaea);
}
header p{
    padding: 5px 30px 15px;
}
body{
    color: var(--black);
    font-family: var(--montserratFont);
}
h1, h2, h3{
    font-family: var(--molleFont);
    font-weight: bold;
    line-height: 2;
    text-align: center;
}
h1{
    font-size: 50pt;
}
h2{
    font-size: 45pt;
}
h3{
    font-size: 40pt;
}
h4{
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
}
h4, p, q{
    font-size: 20pt;
}
p, q, nav a, form {
    font-family: var(--monsterratFont);
}
#logo img{
    padding-top: 10vw;
    max-width: 50vw;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#menu-toggle {
    position: absolute;
    top: 40px;
    right: 0;
    user-select: none;
}
#menu-toggle label {
    background-color: var(--yellow);
    padding: 10px 60px;
    font-weight: bold;
}
#menu-toggle input {
    display: none;
}
nav {
    display: grid;
    top:25px;
    justify-items: center;
    grid-column: 1/-1;
}
#menu-toggle ul {
    display: none;
    position: relative;
    background-color: var(--teal);
    width: 100vw;
}
#menu-toggle li {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
}
#menu-toggle li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
}
#menu-toggle input:checked ~ ul, #menu-toggle input:checked ~ label {
    display: flex;
    flex-direction: column;
}
#menu-toggle input:checked ~ label {
    color: var(--white);
    background-color: var(--black);
    align-items: center;
}
#img-grid picture{
    width: 100%;
    height: auto;
    object-fit: cover;
} 
#img-grid img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#intro h2 {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 50px 5px 30px 15px;
}
#intro p {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 5px 30px 15px;
}
#plan{
    background-color: var(--yellow);
    padding-bottom: 20px;
}
#plan div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
}
#plan h3{
    padding: 30px 30px 10px;
}
#plan img{
    width: 100%;
}
#plan div section{
    background-color: var(--teal);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, auto);
    padding: 10px;
    border: 3px solid var(--white);
}
#testimonials section{
    display: grid;
    margin: 15px;
    justify-items: center;
}
q{
    text-align: center;
    font-style: italic;
}
#testimonials p, #testimonials h4{
    margin-top: 10px;
}
#testimonials h3{
    display: grid;
    justify-self: left;
    padding: 30px 30px 15px;
}
#about{
    display: grid;
    background-color: var(--blue);
    justify-content: center;
}
#about div{
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 15px;
}
#about section{
    display: grid;
    grid-column: span 1;
    justify-items: center;
    align-items: center;
}
#about h3{
    display: flex;
    line-height: 1;
    padding: 25px;
}
#about p{
    line-height: .5;
    padding-bottom: 15px;
}
#about img{
    width: 100px;
    height: 100px;
}
#contact{
    display: flex;
    flex-direction: column;
}
#contact input, #contact select{
    color: var(--dark-gray);
    background-color: transparent;
    border: 2px solid var(--purple);
}
#contact h3{
    display: flex;
    padding: 25px;
}
#contact h3 span{
    padding-left: 10px;
    font-style: italic;
    font-family: var(--monsterratFont);
}
form{
    display: grid;
    margin: 0 10vw;
}
form div{
    display: flex;
    flex-direction: column;
}
#contact form input, #contact select{
    height: 5vh;
}

